.todo-item {
    display: flex;
    border-bottom: 1px solid #e6e6e6db;
    justify-content: space-between;
}

.item-no-active {
    text-decoration: line-through;
    color: #d1d1d1;
}

.left {
    padding: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #131313;
    display: flex;
    justify-items: center;
}

.todo-item .title {
    margin: auto 5px;
}

.todo-item .checkbox {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    margin: 0 10px 0 5px;
}

.todo-item .checkbox-done {
    display: flex;
    background: url("/src/img/check-done-2.png") no-repeat;
    background-size: cover;
    border: 1px solid #00a832;
}

.right {
    margin-right: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-del {
    display: flex;
    background: url("/src/img/del.png") no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.todo-item .btn-del:hover,
.todo-item .btn-del:focus,
.todo-item .btn-del:active {
    background: url("/src/img/del-2.png") no-repeat;
    background-size: cover;
    background-color: #fafafa;
}