.App {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.menu {
    height: 100vh;
    width: 250px;
    float: left;
    background-color: navajowhite;
}

.body {
    height: 100vh;
    width: calc(100% - 250px);
    float: right;
    background-color: #f0f0f0;
}